.navbar {
    padding: 15px 40px;
    background: #020617;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    color: #38bdf8;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
}

.nav-links li {
    cursor: pointer;
}

.nav-links li:hover {
    color: #38bdf8;
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Mobile */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 60px;
        right: 0;
        background: #020617;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        display: none;
    }

    .nav-links.active {
        display: flex;
    }
}